:root {
    --color-primary: #FF4C4C;
    --color-secondary: #A94E97;
    --text-black: #000000;
    --text-gray: #83869A;
    --link-color: #FF4C4C;
    --text-font: Roboto', sans-serif;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    height: 32rem;
    margin-bottom: 40px;
}

/**
* ! Left Side Of Container
**/

.container-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-secondary);
    padding: 20px;
}

.container-left h2 {
    background-color: var(--color-primary);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.container-left p {
    padding: 20px;
    color: white;
    font-size: 18px;
}

.image-container {
    display: flex;
    padding-top: 35px;
}

.image-one, .image-two {
    border: 2px solid black;
    border-radius: 10%;
    height: 190px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.image-two {
    position: relative;
    margin-left: 35px;
    top: 27px;
}

.image-two:hover {
    position: relative;
    width: 160px;
    height: 150px;
    top: 20px;
    transition: ease-in-out .3s;
}

.image-one:hover {
    position: relative;
    width: 160px;
    height: 150px;
    top: 20px;
    transition: ease-in-out .3s;
}

/**
* ! Right Side Of Container
**/

.container-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 30%;
}

.container-right h2 {
    background-color: var(--color-primary);
    padding: 10px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.container-right i {
    font-size: 25px;
    border-radius: 5px;
    width: 40px;
    color: var(--color-secondary);
    position: absolute;
}

.container-right input {
    border: none;
    padding-left: 40px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    height: 30px;
    width: 400px;
}

.container-right .account-email {
    display: flex;
    align-items: center;
    padding: 6px;
}

.container-right .password {
    display: flex;
    align-items: center;
    padding: 6px;
}

.container-right .confirm-password {
    display: flex;
    align-items: center;
    padding: 6px;
}

.container-right .account-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.container-right .first-name {
    display: flex;
    align-items: center;
}
.container-right .last-name {
    display: flex;
    align-items: center;
}

.container-right .account-name i {
    width: 30px;
    padding-left: 11px;
}

.container-right .account-name input {
    width: 170px;
    padding-left: 40px;
}

.container-right button {
    margin: 30px;
    padding: 13px;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    background-color: var(--color-primary);
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

