:root {
  --color-primary: #FF4C4C;
  --color-secondary: #A94E97;
  --text-black: #000000;
  --text-gray: #83869A;
  --link-color: #FF4C4C;
  --text-font: Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: var(--text-font);
}

/**
* ! Start of header
**/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.burger {
  display: none;
}

header #menuchk {
  display: none;
}

header .burger {
  display: none;
}

header .nav-container {
  display: flex;
  align-items: center;
  padding: 75px;
  gap: 20px;
  font-size: 22px;
}

header .nav-container a {
  color: var(--color-primary);
}

header .nav-container button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  width: 115px;
  background: linear-gradient(var(--color-primary), var(--color-secondary));
  color: white;
  font-weight: bold;
}

header .nav-container button a {
  color: #FFFFFF;
}

/**
* ! Start of Content Section
**/

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

article .content h1 {
  padding-bottom: 15px;
  font-size: 2.5rem;
}

article .content p {
  font-size: 1rem;
  color: var(--text-gray);
}

article img {
  width: 55%;
  height: 350px;
  border-radius: 35px;
}

/**
* ! Start of Main Section
**/

main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
  gap: 15px;
}

main .card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 1px 3px 4px black;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  padding: 20px;
  margin: 30px;
  width: 275px;
  height: 250px;
}

main .card h2 {
  padding-bottom: 10px;
}

main .card a {
  padding-top: 20px;
  font-weight: bold;
  color: var(--color-primary);
}

main .cake-img {
  position: absolute;
  padding-bottom: 18.5rem;
  height: 23rem;
}

main .card-gradient-mobile {
  display: none;
}

main .card-gradient {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(var(--color-primary), var(--color-secondary));
  color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  width: 275px;
  height: 250px;
}

/**
* ! Start Of Footer Section
**/

footer {
  background: var(--color-primary);
  color: white;
  width: auto;
  margin-top: 100px;
}

footer p {
  padding: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

/**
* ! Start Of Media Queries
**/

@media screen and (max-width: 768px) {
  article {
    display: flex;
    flex-direction: column;
  }

  article .content p {
    justify-content: flex-start;
  }

  article img {
    width: 75%;
    height: 250px;
    margin-top: 55px;
  }
  
  main {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-top: 100px;
  }

  footer {
    text-align: center;
  }
}

@media screen and (max-width: 670px) {
  header .nav-container {
    display: none;
  }

  header .burger {
    display: block;
    padding-right: 35px;
    padding-bottom: 20px;
    transform: scale(2);
    color: var(--color-primary);
  }
  
  header #menuchk:checked + nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 30px;
  }
  

  article {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  article .content h1{
    font-size: 2rem;
  }

  article img {
    width: 85%;
  }

  main {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    padding-top: 20px;
  }

  main .card-gradient {
    order: -1;
    height: 80px;
    font-size: .8rem;
  }
}